.footer {
    width: 100%;
    padding: 1rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color:yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(242, 248, 78);
    white-space: nowrap;
    
}
