@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
--m: 1.5rem; 
--red: #FF6565;
--pink: #FF64F9;
--purple: #6B5FFF;
--blue: #4D8AFF;
--green: #5BFF89;
--yellow: #FFEE55;
--orange: #FF6D1B;
}
.home .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 50px;
   
}

.home .content .wrapper {
    width: 100%;
}

.home .content .name {
    white-space: nowrap;
    font-size: 45px;
    color: yellow;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;

}

.home .content .staticTitle {
    font-size: 100px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
 

}

/*.home .content .staticTitle .hrLine {
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    margin-left: 20px;
    width: 20vw;
}*/

.home .content .dynamicTitle {
    font-size: 100px;
    font-weight: 500;
    line-height: 100px;
    width: fit-content;
    margin-bottom:0.5em;
    margin-left: -1em;

}

.home .content .dynamicTitle li {
    width: 100%;
    z-index: -2;
    color: yellow;
}

.hire-btn {
border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  margin:auto;
  color: #fbfbfb;
  font-family: 'Space Grotesk';
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: calc(0.5 * var(--m)) calc(1 * var(--m));
  background:linear-gradient(#420327, #420327), linear-gradient(#420327 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}
.hire-btn ::before {
    content: '';
    background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    height: 30%;
    width: 60%;
    position: absolute;
    bottom: -20%;
    z-index: -5;
    background-size: 200%;
    animation: animate 2s infinite linear;
    filter: blur(calc(0.8 * var(--m)));
  }
  
  .hire-btn:hover, .hire-btn:hover::before {
    animation: animate 0.5s infinite linear;
    color:#5BFF89;
  }
  
  @keyframes animate {
    0% {background-position: 0}
    100% {background-position: 200%}
  }
  
  @media screen and (max-width: 1000px) {
    :root {
      --m: 2rem;
    }
  }

@keyframes slider {
    0%   {width: 0%; }
    50% {width: 42%; }
    100% {width: 0%;}
}

@keyframes fadeText {
    0%   {opacity: 0;}
    100% {opacity: 0;}
}

  .home .content .dynamicTitle li span {
    white-space: wrap;
    background-image: linear-gradient(to right, #edddec, #670c61, #e8e81e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

  .home .content .dynamicTitle li span::before {
    content: '';
    width: 100%;
    height: 20%;
    z-index: -1;
  }

.mask .bg {
    height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -3;
}

@media screen and (max-width: 950px) {
    .mask .bg{
        opacity: 40%;
    }

    .home .content .staticTitle {
        font-size: 90px;
    }

    .home .content .dynamicTitle {
        font-size: 90px;
    }

}

@media screen and (max-width: 750px) {
    .home .content{
        align-items: center;
        padding: 0 12vw;
    }
    .home .content .name {
        font-size: 20px;
        font-weight: 600;
        line-height: 60px;
    }

    .home .content .staticTitle {
        font-size: 12vw;
    }

    .home .content .staticTitle .hrLine {
        width: 22vw;
    }

    .home .content .dynamicTitle {
        font-size: 12vw;
        line-height: 60px;
    }

    .hire {
        font-size: 16px;
    }
}
