@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

.project-window {
    width: 100%;
    padding: 160px 7vw 0 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.project-wrapper.odd {
    flex-direction: row-reverse;
}

.project-title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
    font-family: "Encode Sans Expanded", sans-serif;
    color: #e7d50f;
}

.about-project .desc {
    font-size: 18px;
    font-weight: 400;
    font-family: "Texturina", serif;
    color:#fff;
}

.project-img {
    margin-left: 100px;
    object-fit: contain;
    animation: pulse-regular 2.7s infinite;
    position: relative;
    top: 0px;
    filter: drop-shadow(2px 10px 20px rgba(247, 247, 247, 0.637));
}

.odd .project-img {
    margin-right: 100px;
    margin-left: 0;
}

@keyframes pulse-regular{
    0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.project-img  img {
    border-radius: 18px;
    max-width: 900px;
    width: fit-content;
    height: auto;
}

@media screen and (max-width: 1250px) {
    .project-window {
        padding-left: 17vw;
        padding-top: 180px;
    }

    .project-img {
        margin-left: 60px;
    }

    .odd .project-img {
        margin-right: 60px;
    }

    .project-img  img  {
        max-width: 800px;
    }
}

@media screen and (max-width: 950px), screen and (max-height: 550px) {
    .project-wrapper, .project-wrapper.odd {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .project-window {
        padding-left: 25vw;
        padding-top: 100px;
    }

    .project-title {
        margin-top: 40px;
    }

    .project-img {
        margin: 0;
    }

    .odd .project-img {
        margin: 0;
    }

    .project-img  img  {
        max-width: 900px;
    }
}

@media screen and (max-width: 750px) {
    .project-window {
        padding: 110px 150px 0;
    }
    .project-wrapper, .project-wrapper.odd {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .project-title {
        margin-top: 35px;
        font-size: 32px;
    }

    .about-project .desc {
        font-size: 16px;
    }

    .about-project .btn {
        font-size: 16px;
    }

    .project-img {
        margin: 0;
    }
    .odd .project-img {
        margin: 0;
    }

    .project-img  img  {
        max-width: 300px;
    }
}